<div id="results" class="row"></div>

<script src="modules/main/view/js/jquery.bootpag.min.js"></script>
<script src="modules/products/view/js/controller_products.js"></script>
<script src="modules/main/view/js/list_products.js"></script>