<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"> -->
<div id="fh5co" class="fh5co-product">
    <div class="container">
    	<div class="row">
            <br />
    		<h3 align="center">CRUD Maintenance</h3>
            <br />
    	</div>
    	<div class="row">
    		<p><a class="btn btn-info" href="../../products/create_products/">Create</a></p>

    		<table id="list" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width=125><b>Reference</b></th>
                        <th width=125><b>Title</b></th>
                        <th width=125><b>Price</b></th>
                        <th width=350><b>Action</b></th>
                    </tr>
                </thead>
                <tbody id="products"></tbody>
        </table>
        <br />
        <br />
    </div>
</div>
<script type="text/javascript" src="<?php echo PRODUCTS_JS_PATH ?>crud.js"></script>
<!-- <script type="text/javascript"> 
    $(document).ready(function() {
        $('#list').DataTable();
    } );
</script> -->