<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>ADD PRODUCT</h2>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
            <script type="text/javascript" src="<?php echo PRODUCTS_JS_PATH ?>list_products.js"></script>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
