<footer id="fh5co-footer" role="contentinfo">
  <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2018 Free HTML5. All Rights Reserved.</small> 
            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a> &amp; <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
          </p>
          <p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
  <!-- jQuery -->
  <script src="<?php echo JS_PATH ?>jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- jQuery Easing -->
  <script src="<?php echo JS_PATH ?>jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="<?php echo JS_PATH ?>bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="<?php echo JS_PATH ?>jquery.waypoints.min.js"></script>
  <!-- Carousel -->
  <script src="<?php echo JS_PATH ?>owl.carousel.min.js"></script>
  <!-- countTo -->
  <script src="<?php echo JS_PATH ?>jquery.countTo.js"></script>
  <!-- Flexslider -->
  <script src="<?php echo JS_PATH ?>jquery.flexslider-min.js"></script>
  <!-- Main -->
  <script src="<?php echo JS_PATH ?>main.js"></script>
  <script src="<?php echo JS_PATH ?>cookies.js"></script>
  <script src="<?php echo JS_PATH ?>init.js"></script>
  <div id="logout_script"></div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <!-- login -->
  <!-- <script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>init.js"></script> -->
  <script src="<?php echo JS_PATH ?>dropzone.js"></script>
  <script src="<?php echo MAIN_JS_PATH ?>jquery.bootpag.min.js"></script>
  <script src="<?php echo JS_PATH ?>bootbox.min.js"></script>
  
  <script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.min.js"></script>
  <script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.extended.js"></script>
  </body>
</html>


